.error {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .message {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }