.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    margin-top: 30px;
}
  
.card {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
  
    &__img img{
      width: 100%;
      aspect-ratio: 16 / 9;
    }
    &__content {
      padding: 10px;
    }
    &__title {
      text-align: center;
      font-weight: 600;
    }
}