.sort {
    text-align: center;
    margin-top: 30px;

    &__text {
        font-weight: bold;
    }
    &__list {
        display: inline-block;
        padding-left: 0;
        list-style: none;
        margin: 0;
    }

    &__item {
        display: inline-block;
        margin: 0 10px;
    }
    &__link {
        color: #484848;
        text-decoration: none;

        &--current {
            color: red;
            border-bottom: 2px solid;
        }
        &--asc::after {
            content: '↑';
        }
        &--desc::after {
            content: '↓';
        }
    }
}